.subtitle {
  position: relative;
}
.subtitle::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin-top: 10px;
  background-color: theme('colors.white');
  opacity: 0.2;
}
